{{ define "main" }}
  {{ $lastmodstr := (partial "date.html" (dict "date" .Lastmod "language" $.Page.Language "format" "long")) }}
  {{ $datestr := (partial "date.html" (dict "date" .Date "language" $.Page.Language "format" "long")) }}

  {{ if (and .Params.thumbnail (not (or .Site.Params.hidePageThumbnail .Params.hidePageThumbnail)) ) }}
  <div id="carousel10" class="carousel md:hidden block" duration="3000" items="1">
    <ul>
      {{ range $index, $slide := .Params.folderimg }}
        <li id="c10_slide{{ add $index 1}}" style="min-width: calc(100%/1); padding-bottom: 100%;"><img src="{{ $slide }}" alt="" /><div></div></li>
      {{ end }}
    </ul>
    <ol>
      {{ range $index, $page := .Params.folderimg }}
        <li><a href="#c10_slide{{ add $index 1 }}"></a></li>
      {{ end }}
    </ol>
    <div class="prev">&lsaquo;</div>
    <div class="next">&rsaquo;</div>
  </div>
  {{ end }}

  <article class="prose lg:prose-lg mx-auto my-8 dark:prose-dark px-4">
    <h1 class="text-2xl font-bold -mb-4">{{ .Title }}</h1>
    <h5 class="text-left mb-2">
      {{- partial "rating.html" . -}} {{ .Params.reviews }} reviews
    </h5>
    {{ if not (or (or .Site.Params.hideMeta .Params.hideMeta) false) }}
    <h5 class="text-sm flex items-center flex-wrap">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="green" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      Stok {{ .Params.stok }}
    </h5>  
    <h5 class="mb-4 text-sm flex items-center flex-wrap">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="green" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z" />
      </svg>
      Gratis Biaya Pengiriman
    </h5>
    
    <div class="container px-3 py-8 mx-auto max-w-2xl grid grid-cols-1 md:grid-cols-2 gap-2 md:gap-8 justify-items-center items-center text-center sm:text-left divide-x">
      <div>
        <h5 class="text-xl text-center line-through text-red-600 -m-2 italic">
        {{ .Params.Price | lang.FormatCurrency 2 "IDR" }}
        </h5>
      </div>    
    
      <div>
        <h5 class="text-xl text-center text-green-600">
        {{ .Params.Diskon | lang.FormatCurrency 2 "IDR" }}
        </h5>
      </div>
    </div>
        
    <h5>
      <div class="container flex py-6 mx-auto max-w-full grid grid-cols-1">
        <a href="{{ .Site.Params.homepage.social.description }}" target="_blank" rel="noopener noreferrer">
          <button class="container flex mx-auto grid-cols-2 mb-8 bg-green-400 hover:bg-green-800 text-black hover:text-white font-semibold py-2 px-4 rounded items-center justify-center">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
            </svg>
          </div>
          <div class="ml-4">Beli Sekarang</div>
          </button>
        </a>
      </div>
    </h5>    

    {{ end }}

    {{ if (or .Site.Params.toc .Params.toc) }}
    {{- partial "toc.html" . -}}
    {{ end }}

    {{ .Content }}
  </article>

  
  {{- partial "social.html" . -}}
{{ end }}
