<div class="">
<a href="{{ .Permalink }}">
  {{ if .Params.thumbnail }}
  <div class="relative">
    <img src="{{ .Params.thumbnail }}" alt="{{ .Params.title }}" class="rounded-lg shadow-sm w-full h-full object-cover" />
  </div>
  {{ end }}
  <div class="mb-2 mx-auto text-l md:text-xl text-center font-semibold">{{ .Params.title }}</div>
</a>

<div class="text-center -mb-2">
  {{- partial "rating.html" . -}}
</div>

<div class="text-m text-center text-gray-400">{{ .Params.reviews }} reviews</div>

<div class="pt-2 -mb-2 text-l font-semibold text-center text-red-600 line-through italic">{{ .Params.Price | lang.FormatCurrency 2 "IDR" }}</div>
<div class="text-l font-semibold text-center text-green-600">{{ .Params.Diskon | lang.FormatCurrency 2 "IDR" }}</div>

<a href="{{ .Site.Params.homepage.social.description }}" target="_blank" rel="noopener noreferrer">
  <button class="container my-2 bg-white hover:bg-gray-900 text-gray-900 hover:text-white font-semibold py-2 px-4 border border-gray-800 rounded">Order via Whatsapp</button></a>
</div>

