<div class="bg-gray-900">
  <div class="container px-12 py-12 mx-auto max-w-2xl grid grid-cols-1 text-center md:text-left">
    <div>
      <div class="text-base text-center mb-4 text-white">{{ .Site.Data.intro.judul }}</div>
    </div>
    
    <div>
      <div class="text-xs mb-2 text-gray-300 italic indent-4">{{ .Site.Data.intro.paragrafsatu }}</div>
    </div>
    
    <div>
      <div class="text-xs mb-4 text-gray-300 italic indent-8">{{ .Site.Data.intro.paragrafdua }}</div>
    </div>
    
    <div>
      <div class="text-base text-center mb-4 text-white">Kenapa murah?</div>
    </div>
    
    <div>
      <div class="text-xs mb-4 text-gray-300 italic indent-8">{{ .Site.Data.intro.sesisatu }}</div>
    </div>    
    
    <div>
      <div class="text-base text-center mb-4 text-white">Apakah ada garansi?</div>
    </div>
    
    <div>
      <div class="text-xs mb-4 text-gray-300 italic indent-8">{{ .Site.Data.intro.sesidua }}</div>
    </div>
    
    <div>
      <div class="text-xs mb-2 text-gray-300 italic indent-8">{{ .Site.Data.intro.paragraftiga }}</div>
    </div>

    <div>
      <div class="text-xs text-gray-300 italic indent-8">{{ .Site.Data.intro.penutup }}</div>
    </div>
  </div>
</div>
